/* Comentario de CSS */

/* Estilos para un selector de etiqueta */
body {
    background-color: #f1f1f1;
    font-family: Arial, sans-serif;
    color: #333333;
  }

  /* Estilos para un selector de clase */
h1 {
    color: #ff0000;
    font-size: 24px;
  }